<!-- Exercises Component -->
<div class="exercises-container">
  <!-- Barra de búsqueda -->
  <div class="w-full mb-4">
    <byf-searchbar (searchChange)="onSearch($event)"></byf-searchbar>
  </div>

  <!-- Filtros -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-6">
    <byf-filter-dropdown
      [options]="equipmentOptions()!"
      label="Equipamiento"
      placeholder="Selecciona"
      [selectedValue]="selectedEquipment()"
      (selectionChanged)="onEquipmentChange($event)"
    />
    <byf-filter-dropdown
      [options]="bodyPartsOptions()!"
      label="Parte del cuerpo"
      placeholder="Selecciona"
      [selectedValue]="selectedBodyPart()"
      (selectionChanged)="onBodyPartChange($event)"
    />
  </div>

  <!-- Grid de Cards -->
  <div class="exercises-grid">
    @for (exercise of filteredExercises(); track exercise.exerciseId) {
    <byf-card
      [title]="exercise.name"
      [subtitle]="exercise.exerciseType"
      [chips]="exercise.equipments"
      [image]="exercise.imageUrl"
      (clicked)="onCardClick(exercise)"
    ></byf-card>
    }
  </div>

  <!-- Modal -->
  @if (isModalOpen()) {
  <byf-exercise-detail-modal [exercise]="selectedExercise()!" (close)="onCloseDetail()" />
  }
</div>
