.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-mdc-raised-button {
  border-radius: var(--border-radius) !important;
  font-weight: 500;
  padding: 12px 24px;
}

::ng-deep .mat-mdc-icon-button:hover {
  background-color: rgb(0 0 0 / 4%);
}
