@use '@angular/material' as mat;

$orange-palette: mat.$orange-palette;
$blue-palette: mat.$cyan-palette;
$font-family-base: 'Poppins', sans-serif;

$my-byf-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $orange-palette,
      tertiary: $blue-palette,
    ),
    typography: (
      brand-family: $font-family-base,
      plain-family: $font-family-base,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($my-byf-theme);
}
